<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a3projecttest7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Setting"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".wordlearning"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".educationgame"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Education"
            android:screenOrientation="landscape" />
        <activity
            android:name=".educationpage1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".educationpage2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".educationpage4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".loginPopup"
            android:screenOrientation="landscape" />
        <activity
            android:name=".longsentence"
            android:screenOrientation="landscape" />
        <activity
            android:name=".educationpage3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".joinmembershipPopup"
            android:screenOrientation="landscape" />
        <activity
            android:name=".shortsentence"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pop_login"
            android:theme="@style/AppTheme.pop_login"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pop_join"
            android:theme="@style/AppTheme.pop_login"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Mypage"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>